extends layout
block content
  h5 Login
  form(action='/auth/login', method='post')
    .form-group
      input.form-control(type='text', name='username', placeholder='E-Mail')
    .form-group
      input.form-control(type='password', name='password', placeholder='Password')
    button.btn.btn-primary(type='submit') Submit