extends layout.pug
block content
  h5 Change password of user with id #{id}
  form(action='/password/change', method='post')
    input(type='hidden', name='id', value=id)
    .form-group
      input.form-control(type='password', name='password', placeholder='Password')
    button.btn.btn-primary(type='submit') Submit
